<form class="clr-form clr-form-horizontal">
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Nom</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="lastName" class="clr-input" [(ngModel)]='lastName' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Prénom</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="firstName" class="clr-input" [(ngModel)]='firstName' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Date de naissance</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="date" name="birthday" class="clr-input" [(ngModel)]='birthday' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Description</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="description" class="clr-input" [(ngModel)]='description' />
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" (click)="create()">Validé</button>
</form>