<clr-tabs>
    <clr-tab>
        <button clrTabLink>Bateau sauvé</button>
        <clr-tab-content *clrIfActive>
            <app-boat-saved></app-boat-saved>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Bateau sauveteur (presque comme la fusée Ariane)</button>
        <clr-tab-content *clrIfActive="true">
            <app-boat-saver></app-boat-saver>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<img src="../../../assets/images/amerissage.jpg" alt="Lui non plus ne s'est pas noyé" width="600" height="500"> 