<div class="container">
    <h2>Bateaux sauvées</h2>
    <button type="button" class="btn btn-icon btn-primary" title="Ajouté" (click)="openAddModal()"> Ajouté </button>
</div>
<clr-datagrid>
    <clr-dg-column [clrDgField]="'name'">Nom</clr-dg-column>
    <clr-dg-column [clrDgField]="'type'">Type</clr-dg-column>
    <clr-dg-column [clrDgField]="'manufacturer'">Constructeur</clr-dg-column>
    <clr-dg-column [clrDgField]="'manufacturingDate'" [clrDgColType]="'date'">date de conception</clr-dg-column>
    <clr-dg-column [clrDgField]="'length'" [clrDgColType]="'number'">Longeur</clr-dg-column>
    <clr-dg-column [clrDgField]="'width'" [clrDgColType]="'number'">Largeur</clr-dg-column>
    <clr-dg-column [clrDgField]="'weight'" [clrDgColType]="'number'">Poids</clr-dg-column>

    <clr-dg-row *clrDgItems="let boat of boatSaved">
        <clr-dg-cell [routerLink]="['details',boat.id]">{{boat.name}}</clr-dg-cell>
        <clr-dg-cell>{{boat.type}}</clr-dg-cell>
        <clr-dg-cell>{{boat.manufacturer}}</clr-dg-cell>
        <clr-dg-cell>{{boat.manufacturingDate}}</clr-dg-cell>
        <clr-dg-cell>{{boat.length}}</clr-dg-cell>
        <clr-dg-cell>{{boat.width}}</clr-dg-cell>
        <clr-dg-cell>{{boat.weight}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">bateaux sauvés par page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="openModal">
    <h3 class="modal-title">Ajouté un bateau</h3>
    <div class="modal-body">
        <app-boat-saver-add-form></app-boat-saver-add-form>
    </div>
</clr-modal>