<div class="clr-row" ngIf*="object">
    <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
            <div class="card-header">
                {{object.firstname}} {{object.lastname}}
            </div>
            <div class="card-text">
                <form class="clr-form clr-form-horizontal">
                    <div class="clr-form-control">
                        <label class="clr-control-label">Nom</label>
                        <div class="clr-input-wrapper">
                            <input type="text" class="clr-input" value="object.lastname"/>
                        </div>
                    </div>
                    <div class="clr-form-control">
                        <label class="clr-control-label">Prénom</label>
                        <div class="clr-input-wrapper">
                            <input type="text" class="clr-input" value=object.firstname/>
                        </div>
                    </div>
                    <clr-date-container>
                        <label>Date de naissance</label>
                        <input type="date" clrDate [disabled]="true" [(ngModel)]="object.birthdate"/>
                    </clr-date-container>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="clr-row" ngIf*="object">
    <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
            <div class="card-header">
                Liste des Sauvetages
            </div>
            <div class="card-text">
                <clr-datagrid>
                    <clr-dg-column [clrDgField]="'date'" >Date du sauvetage</clr-dg-column>
                    <clr-dg-column [clrDgField]="'place'">Endroit géographique</clr-dg-column>
                    <clr-dg-column [clrDgField]="'numberPeople'" [clrDgColType]="'number'">Nombres de personnes sauvées</clr-dg-column>
                
                    <clr-dg-row *clrDgItems="let rescue of object.rescues">
                        <clr-dg-cell>{{rescue.date}}</clr-dg-cell>
                        <clr-dg-cell>{{rescue.place}}</clr-dg-cell>
                        <clr-dg-cell>{{rescue.numberPeople}}</clr-dg-cell>
                    </clr-dg-row>
                    <clr-dg-footer>
                        <clr-dg-pagination #pagination [clrDgPageSize]="10">
                            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">sauvetage par page</clr-dg-page-size>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
                        </clr-dg-pagination>
                    </clr-dg-footer>
                </clr-datagrid>
            </div>
        </div>
    </div>
</div>