<button class="btn btn-outline" (click)="goBack()">Retour</button>

<app-boat-saved-details *ngIf="isSaved" [object]="object"></app-boat-saved-details>
<app-boat-saver-details *ngIf="!isSaved" [object]="object"></app-boat-saver-details>