<h2>Gestion des requètes des bateaux sauvés</h2>
<clr-datagrid>
    <clr-dg-column [clrDgField]="'name'">Nom</clr-dg-column>
    <clr-dg-column [clrDgField]="'type'">Type</clr-dg-column>
    <clr-dg-column [clrDgField]="'manufacturer'">Constructeur</clr-dg-column>
    <clr-dg-column [clrDgField]="'manufacturingDate'" [clrDgColType]="'date'">date de conception</clr-dg-column>
    <clr-dg-column [clrDgField]="'length'" [clrDgColType]="'number'">Longeur</clr-dg-column>
    <clr-dg-column [clrDgField]="'width'" [clrDgColType]="'number'">Largeur</clr-dg-column>
    <clr-dg-column [clrDgField]="'weight'" [clrDgColType]="'number'">Poids</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>

    <clr-dg-row *clrDgItems="let boatSaved of boatSaveds" [clrDgItem]="boatSaved">
        <clr-dg-cell>{{boatSaved.name}}</clr-dg-cell>
        <clr-dg-cell>{{boatSaved.type}}</clr-dg-cell>
        <clr-dg-cell>{{boatSaved.manufacturer}}</clr-dg-cell>
        <clr-dg-cell>{{boatSaved.manufacturingDate}}</clr-dg-cell>
        <clr-dg-cell>{{boatSaved.length}}</clr-dg-cell>
        <clr-dg-cell>{{boatSaved.width}}</clr-dg-cell>
        <clr-dg-cell>{{boatSaved.weight}}</clr-dg-cell>
        <clr-dg-cell>
            <button type="button" class="btn btn-icon btn-success" aria-label="done" title="Validé"
                (click)="validate(boatSaved)">
                <cds-icon shape="check"></cds-icon>
            </button>
            <button type="button" class="btn btn-icon btn-danger" aria-label="done" title="Refusé"
                (click)="refuse(boatSaved.id)">
                <cds-icon shape="times"></cds-icon>
            </button>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">bateaux sauvés par page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>