<form class="clr-form clr-form-horizontal">
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Nom</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="lastName" class="clr-input" [(ngModel)]='lastname' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Prénom</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="firstName" class="clr-input" [(ngModel)]='firstname' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Date de naissance</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="date" name="birthday" class="clr-input" [(ngModel)]='birthDay' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Description</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="description" class="clr-input" [(ngModel)]='description' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Grade</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="grade" class="clr-input" [(ngModel)]='grade' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Statut matrimonial</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="maritalStatus" class="clr-input" [(ngModel)]='maritalStatus' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">donnée généalogique</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="date" name="genealogicalData" class="clr-input" [(ngModel)]='genealogicalData' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Carrière</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="career" class="clr-input" [(ngModel)]='career' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Vie professionnel</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="professionalLife" class="clr-input" [(ngModel)]='professionalLife' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Décoration</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="decoration" class="clr-input" [(ngModel)]='decoration' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Détails</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="detail" name="decoration" class="clr-input" [(ngModel)]='detail' />
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" (click)="create()">Validé</button>
</form>