<h2>Gestion des requètes des bateaux sauveteur</h2>
<clr-datagrid>
    <clr-dg-column [clrDgField]="'name'">Nom</clr-dg-column>
    <clr-dg-column [clrDgField]="'type'">Type</clr-dg-column>
    <clr-dg-column [clrDgField]="'manufacturer'">Constructeur</clr-dg-column>
    <clr-dg-column [clrDgField]="'manufacturingDate'" [clrDgColType]="'date'">date de conception</clr-dg-column>
    <clr-dg-column [clrDgField]="'length'" [clrDgColType]="'number'">Longeur</clr-dg-column>
    <clr-dg-column [clrDgField]="'width'" [clrDgColType]="'number'">Largeur</clr-dg-column>
    <clr-dg-column [clrDgField]="'weight'" [clrDgColType]="'number'">Poids</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>

    <clr-dg-row *clrDgItems="let saverBoat of saverBoats" [clrDgItem]="saverBoat">
        <clr-dg-cell>{{saverBoat.name}}</clr-dg-cell>
        <clr-dg-cell>{{saverBoat.type}}</clr-dg-cell>
        <clr-dg-cell>{{saverBoat.manufacturer}}</clr-dg-cell>
        <clr-dg-cell>{{saverBoat.manufacturingDate}}</clr-dg-cell>
        <clr-dg-cell>{{saverBoat.length}}</clr-dg-cell>
        <clr-dg-cell>{{saverBoat.width}}</clr-dg-cell>
        <clr-dg-cell>{{saverBoat.weight}}</clr-dg-cell>
        <clr-dg-cell>
            <button type="button" class="btn btn-icon btn-success" aria-label="done" title="Validé"
                (click)="validate(saverBoat)">
                <cds-icon shape="check"></cds-icon>
            </button>
            <button type="button" class="btn btn-icon btn-danger" aria-label="done" title="Refusé"
                (click)="refuse(saverBoat.id)">
                <cds-icon shape="times"></cds-icon>
            </button>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">bateaux sauveteurs par page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>