<div class="center">
    <div class="card">
        <div class="card-header">
            Veuillez vous connecter
        </div>
        <div class="card-block">
            <div class="card-text">
                <form class="clr-form clr-form-horizontal">
                    <div class="clr-form-control">
                        <label for="example1" class="clr-control-label">Nom d'utilisateur</label>
                        <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input type="text" name="username" class="clr-input" [(ngModel)]='username' />
                            </div>
                        </div>
                    </div>
                    <div class="clr-form-control">
                        <label for="example1" class="clr-control-label">Mot de passe</label>
                        <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input type="password" name="password" class="clr-input" [(ngModel)]='password' />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer align-right">
            <button class="btn btn-sm btn-link" (click)="goBack()">Retour</button>
            <button class="btn btn-sm btn-link" (click)="log()">Se connecter</button>
        </div>
    </div>
</div>