<div class="container">
    <h2>Personnes sauvées</h2>
    <button type="button" class="btn btn-icon btn-primary" title="Ajouté" (click)="openAddModal()"> Ajouté </button>
</div>
<clr-datagrid>
    <clr-dg-column [clrDgField]="'lastName'">Nom</clr-dg-column>
    <clr-dg-column [clrDgField]="'firstName'">Prénom</clr-dg-column>
    <clr-dg-column [clrDgField]="'birthday'">Date de naissance</clr-dg-column>

    <clr-dg-row *clrDgItems="let person of saved">
        <clr-dg-cell [routerLink]="['details',person.id]">{{person.lastname}}</clr-dg-cell>
        <clr-dg-cell>{{person.firstname}}</clr-dg-cell>
        <clr-dg-cell>{{person.birthday}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">personnes sauvées par page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="openModal">
    <h3 class="modal-title">Ajouté une personne sauvée</h3>
    <div class="modal-body">
        <app-saved-person-form></app-saved-person-form>
    </div>
</clr-modal>