<clr-tabs>
    <clr-tab>
        <button clrTabLink>Personne sauvé</button>
        <clr-tab-content *clrIfActive>
            <app-saved></app-saved>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Sauveteur (alias Thomas Pesquet)</button>
        <clr-tab-content *clrIfActive="true">
            <app-saver></app-saver>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<img src="../../../assets/images/giphy.gif" alt="Le meilleur d'entre nous" > 