<div class="clr-row" ngIf*="object">
    <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
            <div class="card-header">
                {{object.firstname}} {{object.lastname}}
            </div>
            <div class="card-text">
                <form class="clr-form clr-form-horizontal">
                    <div class="clr-form-control">
                        <label class="clr-control-label">Nom</label>
                        <div class="clr-input-wrapper">
                            <input type="text" class="clr-input" value="object.lastname"/>
                        </div>
                    </div>
                    <div class="clr-form-control">
                        <label class="clr-control-label">Prénom</label>
                        <div class="clr-input-wrapper">
                            <input type="text" class="clr-input" value=object.firstname/>
                        </div>
                    </div>
                    <clr-date-container>
                        <label>Date de naissance</label>
                        <input type="date" clrDate [disabled]="true" [(ngModel)]="object.birthdate"/>
                    </clr-date-container>
                </form>
            </div>
        </div>
    </div>
</div>