<form class="clr-form clr-form-horizontal">
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Nom</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="name" class="clr-input" [(ngModel)]='name' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Type</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="type" class="clr-input" [(ngModel)]='type' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Constructeur</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="manufacturer" class="clr-input" [(ngModel)]='manufacturer' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Date de construction</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="date" name="manufacturingDate" class="clr-input" [(ngModel)]='manufacturingDate' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">longeur</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="number" name="length" class="clr-input" [(ngModel)]='length' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Largeur</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="number" name="width" class="clr-input" [(ngModel)]='width' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Poids</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="number" name="weight" class="clr-input" [(ngModel)]='weight' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Fin d'utilisation</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="date" name="endDuty" class="clr-input" [(ngModel)]='endDuty' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Description</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="text" name="description" class="clr-input" [(ngModel)]='description' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Est sauvé</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="checkbox" clrCheckbox name="isRescued" class="clr-input" [(ngModel)]='isRescued' />
            </div>
        </div>
    </div>
    <div class="clr-form-control">
        <label for="example1" class="clr-control-label">Est sauveteur</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input type="checkbox" clrCheckbox name="isRescuer" class="clr-input" [(ngModel)]='isRescuer' />
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" (click)="create()">Validé</button>
</form>