<div class="clr-row" ngIf*="object">
    <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
            <div class="card-header">
                {{object.name}} 
            </div>
            <div class="card-text">
                <form class="clr-form clr-form-horizontal">
                    <div class="clr-form-control">
                        <label class="clr-control-label">Nom</label>
                        <div class="clr-input-wrapper">
                            <input type="text" class="clr-input" value="object.name"/>
                        </div>
                    </div>
                    <div class="clr-form-control">
                        <label class="clr-control-label">Hauteur</label>
                        <div class="clr-input-wrapper">
                            <input type="text" class="clr-input" value=object.height/>
                        </div>
                    </div>
                    <div class="clr-form-control">
                        <label class="clr-control-label">Largeur</label>
                        <div class="clr-input-wrapper">
                            <input type="text" class="clr-input" value=object.width/>
                        </div>
                    </div>
                    <div class="clr-form-control">
                        <label class="clr-control-label">Longueur</label>
                        <div class="clr-input-wrapper">
                            <input type="text" class="clr-input" value=object.length/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

