.center { 
    display: flex;
    justify-content: center;
}

.gruge{
    padding: 0 !important;
    margin: 0 !important;
}
::ng-deep .modal-dialog .modal-content, ::ng-deep .modal-header--accessible {
    padding:0;
    width: 34em;
}

::ng-deep .modal-body{
    width: 100%
}

.modal-dialog{
    width: 0;
}
::ng-deep .modal-header--accessible{
    display: none;
}

.modal-content{
    padding:0 !important;
}