<clr-main-container class="main-container">
    <header class="header-6" *ngIf="showHeader">
        <div class="branding">
            <a class="nav-link" [routerLink]="'/home'">
                <span class="title">SOSDunkerque</span>
            </a>
        </div>
        <div class="header-nav">
            <a class="nav-link" routerLinkActive="active" [routerLink]="'/home/boat'">Bateau</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="'/home/person'">Personne</a>
            <a *ngIf="isAdmin" class="nav-link" routerLinkActive="active" [routerLink]="'/home/managing'">Gestion</a>
        </div>
        <img src="../../assets/images/id.jpg" width="76.1833" height="60">
        <div class="header-actions">
            <ng-container>
                <button *ngIf="!isAdmin" class="btn btn-outline" (click)="login()">Se connecter en tant
                    qu'admin</button>
                <button *ngIf="isAdmin" class="btn btn-outline" (click)="anozecpoinarghuvbreoi()">Se
                    déconnecter</button>
            </ng-container>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>

    <footer class="footer-6 center">
        <img src="../../assets/images/id2.jpeg" width="100" height="50">
        <img src="../../assets/images/id3.jpg" width="100" height="50">
        <img [src]="urlImage1" (click)="changeImage(0)" width="100" height="50">
        <img [src]="urlImage2" (click)="changeImage(1)" width="100" height="50">
        <img src="../../assets/images/id5.jpg" width="100" height="50">
        <img [src]="urlImage3" (click)="changeImage(2)" width="100" height="50">
        <img src="../../assets/images/amerissage.jpg" width="100" height="50">
        <img src="../../assets/images/bd_drole.jpg" width="100" height="50">

    </footer>
</clr-main-container>

<clr-modal [(clrModalOpen)]="openModal">
    <h3 class="modal-title">Je suis inutile</h3>
    <div class="modal-body">
        <p>Et oui c'est pour un défi (et non vous n'etes pas bloqué si vous ouvrez la console ce sera pire)</p>
        <img src="../../assets/images/disconnected.jpg" width="400" height="350">
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="openEasterEgg" [clrModalClosable]="'false'">
    <div class="modal-body">
        <img *ngIf="!this.changeEasterEgg" src="../../assets/images/explosion.gif">
        <img *ngIf="this.changeEasterEgg" src="../../assets/images/jusrassic-min.png">
    </div>
</clr-modal>