<clr-tabs>
    <clr-tab>
        <button clrTabLink>Personne sauvées</button>
        <clr-tab-content *clrIfActive>
            <app-saved-person-manager></app-saved-person-manager>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Sauveteur (un peu comme Thomas Pesquet)</button>
        <clr-tab-content *clrIfActive="true">
            <app-saver-manager></app-saver-manager>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>bateaux sauvés</button>
        <clr-tab-content *clrIfActive>
            <app-boat-saved-manager></app-boat-saved-manager>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Bateaux sauveteur (presque aussi bien que l'ISS)</button>
        <clr-tab-content *clrIfActive="true">
            <app-saver-boat-manager></app-saver-boat-manager>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>