<div class="container">
    <h2>Sauveteurs</h2>
    <button type="button" class="btn btn-icon btn-primary" title="Ajouté" (click)="openAddModal()"> Ajouté </button>
</div>
<clr-datagrid>
    <clr-dg-column [clrDgField]="'lastName'">Nom</clr-dg-column>
    <clr-dg-column [clrDgField]="'firstName'">Prénom</clr-dg-column>
    <clr-dg-column [clrDgField]="'birthDay'" [clrDgColType]="'date'">Date de naissance</clr-dg-column>
    <clr-dg-column [clrDgField]="'grade'">Grade</clr-dg-column>
    <clr-dg-column [clrDgField]="'maritalStatus'">Statut marital</clr-dg-column>

    <clr-dg-row *clrDgItems="let saver of savers">
        <clr-dg-cell [routerLink]="['details',saver.id]">{{saver.lastname}}</clr-dg-cell>
        <clr-dg-cell>{{saver.firstname}}</clr-dg-cell>
        <clr-dg-cell>{{saver.birthDay}}</clr-dg-cell>
        <clr-dg-cell>{{saver.grade}}</clr-dg-cell>
        <clr-dg-cell>{{saver.maritalStatus}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">sauveteurs par page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="openModal">
    <h3 class="modal-title">Ajouté un sauveteur</h3>
    <div class="modal-body">
        <app-saver-person-form></app-saver-person-form>
    </div>
</clr-modal>