<h2>Gestion des requètes des sauveteurs</h2>
<clr-datagrid>
    <clr-dg-column [clrDgField]="'lastName'">Nom</clr-dg-column>
    <clr-dg-column [clrDgField]="'firstName'">Prénom</clr-dg-column>
    <clr-dg-column [clrDgField]="'birthDay'" [clrDgColType]="'date'">Date de naissance</clr-dg-column>
    <clr-dg-column [clrDgField]="'grade'">Grade</clr-dg-column>
    <clr-dg-column [clrDgField]="'maritalStatus'">Statut marital</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>

    <clr-dg-row *clrDgItems="let saver of savers" [clrDgItem]="saver">
        <clr-dg-cell>{{saver.lastname}}</clr-dg-cell>
        <clr-dg-cell>{{saver.firstname}}</clr-dg-cell>
        <clr-dg-cell>{{saver.birthDay}}</clr-dg-cell>
        <clr-dg-cell>{{saver.grade}}</clr-dg-cell>
        <clr-dg-cell>{{saver.maritalStatus}}</clr-dg-cell>
        <clr-dg-cell>
            <button type="button" class="btn btn-icon btn-success" aria-label="done" title="Validé"
                (click)="validate(saver)">
                <cds-icon shape="check"></cds-icon>
            </button>
            <button type="button" class="btn btn-icon btn-danger" aria-label="done" title="Refusé"
                (click)="refuse(saver.id)">
                <cds-icon shape="times"></cds-icon>
            </button>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">sauveteurs par page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>