<h2>Gestion des requètes des personnes sauvées</h2>
<clr-datagrid>
    <clr-dg-column [clrDgField]="'lastname'">Nom</clr-dg-column>
    <clr-dg-column [clrDgField]="'firstname'">Prénom</clr-dg-column>
    <clr-dg-column [clrDgField]="'birthday'">Date de naissance</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>

    <clr-dg-row *clrDgItems="let savedPerson of savedPersons" [clrDgItem]="savedPerson">
        <clr-dg-cell>{{savedPerson.lastname}}</clr-dg-cell>
        <clr-dg-cell>{{savedPerson.firstname}}</clr-dg-cell>
        <clr-dg-cell>{{savedPerson.birthDay}}</clr-dg-cell>
        <clr-dg-cell>
            <button type="button" class="btn btn-icon btn-success" aria-label="done" title="Validé"
                (click)="validate(savedPerson)">
                <cds-icon shape="check"></cds-icon>
            </button>
            <button type="button" class="btn btn-icon btn-danger" aria-label="done" title="Refusé"
                (click)="refuse(savedPerson.id)">
                <cds-icon shape="times"></cds-icon>
            </button>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">personnes sauvées par page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>