<button class="btn btn-outline" (click)="goBack()">Retour</button>

<app-saved-details *ngIf="isSaved" [object]="object"></app-saved-details>
<app-saver-details *ngIf="!isSaved" [object]="object"></app-saver-details>